@mixin transition($property: all, $duration: .6s) {
  -moz-transition:    $property, $duration;
  -o-transition:      $property, $duration;
  -webkit-transition: $property, $duration;
  transition:         $property, $duration;
}