$breakpoints: (
        xs: 320px,
        sm: 480px,
        ms: 600px,
        md: 720px,
        lg: 960px,
        xl: 1025px,
        xx: 1200px
);

$height500: 500px;
$height700: 700px;

@mixin rwd($size, $height: 0) {
  @if($height == 0) {
    @media (min-width: map-get($breakpoints, $size)){
      @content;
    }
  } @else {
    @media (min-width: map-get($breakpoints, $size)) and (min-height: $height){
      @content;
    }
  }
}


