.site-header {
  background-color: $blue;

  h1 {
    margin: 0;
    font-family: $oswald;
    font-weight: 400;
    font-size: 4.8rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 1.1;

    span {
      display: block;
      font-family: $ropa-sans;
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: .07rem;
    }
  }
}