.site-navigation {
  position: relative;
  @include transition();

  .nav-main {
    @extend %reset-list;
    display: none;
    margin-top: 2rem;
    border-top: 1px solid $white;

    // * ========== min-width: 720px ----------
    @include rwd(md) {
      margin-top: 1rem;
      display: block !important;
      border-top: 0;
    }
  }

  // * ========== min-width: 960px ----------
  @include rwd(lg) {
    float: right;
    margin-top: 8.4rem;
  }
}


.nav-main {
  box-shadow: 0 0 20px rgba($black, .3);

  li {

    a {
      text-decoration: none;
      font-size: 1.9rem;
      font-weight: normal;
      color: rgba($white, .7);
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding: 1rem 0;
      border-bottom: 1px solid $white;
      background-color: rgba($blue, .95);
      @include transition($property: 'color');

      &:hover {
        background-color: rgba($white, .95);
        color: $blue;
      }

      &:focus {
        color: $white;
      }
    }

    &.active {

      a {
        cursor: default;
        background-color: $white;
        color: $blue;
      }
    }
  }

  // * ========== min-width: 720px ----------
  @include rwd(md) {
    box-shadow: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 1.5rem;

      a {
        text-transform: none;
        border-bottom: 0;
        background-color: transparent;

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }

      &.active {

        a {
          background-color: transparent;
          color: $white;
          border-bottom: 3px solid $white;
        }
      }
    }
  }
}

/* ============== HEADER MIN SCROLL =============== */
.header-min-scroll {

  .site-navigation {
    @include transition();

    // * ========== min-width: 720px ----------
    @include rwd(md) {
      float: right;
      @include transition();
    }

    // * ========== min-width: 960px ----------
    @include rwd(lg) {
      margin-top: 0;
    }
  }
}
