.btn-next-section {
  @extend %reset-button;
  position: relative;
  z-index: 2;
  width: 7rem;
  height: 7rem;
  border: 2px solid $white;
  border-radius: 50%;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  color: $white;
  font-size: 3.5rem;
  line-height: 7rem;

  .fa {
    line-height: 7rem;
    @include transition();
  }

  &:hover {
    .fa {
      line-height: 8.2rem;
    }
  }

  // ====== min-width: 720px and min-height: 700px ----
  @include rwd(md, $height700) {
    position: absolute;
    left: 50%;
    bottom: 6rem;
    margin-left: -3.5rem;
  }
}