.btn-next-section {
  @extend %reset-button;
  width: 7rem;
  height: 7rem;
  border: 2px solid $white;
  border-radius: 50%;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  @include transition($property: background-color);

  &:hover {
    background-color: $white;
  }

  // ====== min-width: 720px and min-height: 700px ----
  @include rwd(md, 700px) {
    position: absolute;
    left: 50%;
    bottom: 8rem;
    margin-left: -3.5rem;
  }
}