.nav-language {
  @extend %reset-list;
  position: absolute;
  top: 1.8rem;
  left: 1.5rem;

  li {
    display: inline-block;
    margin-left: 1rem;

    a {
      width: 3.5rem;
      height: 3.5rem;
      display: block;
      text-decoration: none;
      font-size: 1.3rem;
      font-family: $oswald;
      font-weight: 300;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      line-height: 3.1rem;
      border: 2px solid $white;
      border-radius: 50%;
      @include transition();

      &:hover {
        border-color: transparent;
        background-color: rgba($white, .7);
        color: $blue;
      }
    }

    &.active {
      a {
        background-color: $white;
        color: $blue;
      }
    }
  }
}

/* ============== HEADER MIN SCROLL =============== */
.header-min-scroll {

  .nav-language {
    display: none;
  }
}